body {
  background: rgb(80, 60, 94);
  background: linear-gradient(
    90deg,
    rgba(80, 60, 94, 1) 0%,
    rgba(74, 73, 156, 1) 0%,
    rgba(75, 112, 203, 1) 68%,
    rgba(78, 103, 176, 1) 100%
  );
}
.App {
  text-align: center;
  cursor: default;
}

.tic-tac-toe {
  width: 350px;
  height: 350px;
  border: 2px solid #000;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  background: wheat;
}

.square {
  width: 33.3%;
  height: 33.3%;
  box-sizing: border-box;
  border: 2px solid #000;
  font-size: 5em;
}

.text-winner {
  font-size: 2em;
  text-align: center;
}

.new-game {
  padding: 0.5em 1em;
  background: burlywood;
  font-size: 1em;
  font-weight: 600;
  color: #000;
  border-radius: 0.5em;
  box-shadow: 2px 2px #000;
  transition: color 0.2s, background 0.2s;
}
.new-game:hover {
  background: transparent;
  color: #fff;
}
.new-game:focus {
  outline: none;
}
